<div class="drink-header">
  <h1>Add a new cocktail!</h1>
  <%= image_tag('coconut.png', size: '100x100') %>
</div>

<div class="align-one-button">
  <div class="main-button">
    <%= link_to image_tag('house.png', size: '40x40'), cocktails_path %>
  </div>
</div>


<div class="new-drink-form">
  <%= form_for(@cocktail) do |f| %>
    <%= f.text_field :name, class: 'form-text-field' %>

    <%= f.submit "Add Cocktail", class: 'form-submit-button' %>
  <% end %>
</div>

