
<h1 class="cocktail-name"><%= @cocktail.name %></h1>


<div class="cocktail-description">
  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %>
    <%= dose.ingredient.name %>

    <%= link_to "Delete", dose_delete_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

  <% end %>
</div>

<%= link_to "Add Recipe", dose_new_path(@cocktail) %>
<%= link_to "Home", cocktails_path %>


