<h1><%= @cocktail.name %></h1>
<h4>Add ingredients to your drink</h4>

<% @list = [] %>
<% Ingredient.all.each { |x| @list << x.name } %>

<%= simple_form_for [@cocktail, @dose], :url => create_dose_path do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>

    <%= f.submit %>
<% end %>

